.grzx {
    border-right: 1px #999999 solid;
}

.a-nav {
    border-right: 1px #999999 solid;
}

.cj-nr {
    position: absolute;
    top: 133px;
    color: #666666;
}

.cj-p {
    margin: 20px 0;
    color: #666666;
}

.cj-p-span {
    color: #3ba8f0;
}

.cj-form1 {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-end;
    width: 547px;
    height: 204px;
}

.cj-form1 input {
    width: 400px;
    height: 35px;
    border: 1px #dddddd solid;
}

.cj-form1 p {
    display: inline-block;
    margin-right: 11px;
    color: #ff2626;
}

.cj-form2 {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-end;
    width: 547px;
    height: 108px;
    margin-top: 20px;
}

.cj-form2-span {
    display: inline-block;
    width: 400px;
    height: 35px;
}

.cj-form2-span span {
    margin-right: 18px;
}

.cj-form2-span input {
    margin: 0 10px 4px 0;
}

.cj-form1 span,
.cj-span-bt {
    margin-right: 30px;
}

.cj-form2-bt {
    align-self: flex-start;
    width: 100px;
    height: 35px;
    margin-left: 147px;
    background-color: #3ba8f0;
    color: #ffffff;
}

#sex::placeholder,
#type::placeholder {
    color: #666666;
} 
